.principal{
    
    width: auto;
    height: auto;
    
}
.btn {
    position: absolute;
    left: 61.5%;
    top: 9.5%;
    cursor: pointer;
    border: 1px solid green;
    background-color: transparent;
    height: 70px;
    width: 290px;
    color: green;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.btnDos {
    position: absolute;
    left: 19%;
    top: 9.5%;
    cursor: pointer;
    border: 1px solid green;
    background-color: transparent;
    height: 70px;
    width: 410px;
    color: green;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

}
.prox1{
    position: absolute;
    left: 12%;
    top: 50%;
    width: 480px;
}
.prox2{
    position: absolute;
    left: 55%;
    top: 50%;
    width: 480px;
}
